<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h1 class="card-title"><%= emoji %></h1>
    <h3 class="card-text"><%= message %></h3>
  </div>
  <div class="card-footer">
    <a href="https://github.com/DarthCucumber/create-express-app">create-express-app</a>
  <div>
</div>
